body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.curved-image {
  float: left; /* Align image to the left */
  margin-right: 20px; /* Adjust margin as needed */
  border-radius: 50%; /* Creates a circular shape; adjust as needed */
  width: 150px; /* Set width of the image */
  height: 150px; /* Set height of the image */
  object-fit: cover; /* Ensures the image covers its container */
  overflow: hidden; /* Ensures no overflow */
}
